{{! Maintainers - Kevin Corry}}
<div class="hotgraphic-inner component-inner">
  {{#if title}}
  <div class="hotgraphic-title component-title">
    <h4 class="hotgraphic-title-inner component-title-inner">
      {{{title}}}
    </h4>
  </div>
  {{/if}}
  {{#if body}}
  <div class="hotgraphic-body component-body">
    <div class="hotgraphic-body-inner component-body-inner">
      {{{body}}}
    </div>
  </div>
  {{/if}}
  <div class="hotgraphic-widget component-widget">

    <div class="hotgraphic-graphic">

      <div class="hotgraphic-popup">

        <div class="hotgraphic-popup-toolbar clearfix">
          <div class="hotgraphic-popup-nav">
            <a href="#" class="hotgraphic-popup-controls back" title="back" alt="back">
              <div class="hotgraphic-popup-arrow-l icon icon-controls-small-left"></div>
            </a>
            <div class="hotgraphic-popup-count">
              <span class="current">1</span>/<span class="total">3</span>
            </div>
            <a href="#" class="hotgraphic-popup-controls next" title="next" alt="next">
              <div class="hotgraphic-popup-arrow-r icon icon-controls-small-right"></div>
            </a>
          </div>
          <a href="#" class="hotgraphic-popup-done" alt="done" title="done">
            <div class="hotgraphic-popup-close icon icon-cross"></div>
          </a>
        </div>

        <div class="hotgraphic-popup-inner clearfix">
          {{#each items}}
          <div class="hotgraphic-item item-{{@index}}">
            <div class="hotgraphic-item-graphic">
              <div class="hotgraphic-item-graphic-inner">
                <img src="{{graphic.src}}" alt="{{graphic.alt}}" title="{{{graphic.title}}}"/>
              </div>
            </div>
            <div class="hotgraphic-item-body">
              <div class="hotgraphic-item-body-inner">
                <h5>
                  {{{title}}}
                </h5>
                <p>
                  {{{body}}}
                </p>
              </div>
            </div>
          </div>
          {{/each}}
        </div>

      </div>

      <img src="{{graphic.src}}" alt="{{graphic.alt}}" title="{{{graphic.title}}}"/>
      {{#each items}}
      <a href="#" class="hotgraphic-graphic-pin {{#if _isVisited}}visited{{/if}}" data-id="item-{{@index}}" style="top:{{{top}}}%; left:{{{left}}}%;" title="{{graphicTitle}}">
        <div class="hotgraphic-graphic-pin-icon icon icon-pin"></div>
      </a>
      {{/each}}
    </div>
  </div>
</div>
