<div class="hotgraphic-popup-inner clearfix">
    {{#each _items}}
    <div class="hotgraphic-item component-item clearfix {{#if _isVisited}}visited{{/if}} {{#if _isActive}}active{{/if}} {{_classes}}" data-index={{@index}}>
        <div class="hotgraphic-item-content">
            <div class="hotgraphic-item-content-inner">
            <div class="hotgraphic-content-title" {{a11y_attrs_heading 'componentItem'}}>
                {{{title}}}
            </div>
            <div class="hotgraphic-content-body">
                {{{compile body}}}
            </div>
            </div>
        </div>
        <div class="hotgraphic-item-graphic">
            <div class="hotgraphic-item-graphic-inner">
            <img src="{{_graphic.src}}" aria-label="{{_graphic.alt}}"/>
            </div>
            {{#if _graphic.attribution}}
            <div class="graphic-attribution">{{{_graphic.attribution}}}</div>
            {{/if}}
        </div>
    </div>
    {{/each}}
</div>
<div class="hotgraphic-popup-toolbar component-item-color clearfix">
    {{#unless _hidePagination}}
    <div class="hotgraphic-popup-nav component-item-color">
        <button class="base hotgraphic-popup-controls back" aria-label="{{_globals._accessibility._ariaLabels.previous}}">
            <div class="hotgraphic-popup-arrow-l component-item-text-color icon icon-controls-small-left"></div>
        </button>
        <div class="hotgraphic-popup-count component-item-text-color">
        </div>
        <button class="base hotgraphic-popup-controls next" aria-label="{{_globals._accessibility._ariaLabels.next}}">
            <div class="hotgraphic-popup-arrow-r component-item-text-color icon icon-controls-small-right"></div>
        </button>
    </div>
    {{/unless}}
    <button class="base hotgraphic-popup-done" aria-label="{{_globals._accessibility._ariaLabels.closePopup}}">
        <div class="hotgraphic-popup-close component-item-text-color icon icon-cross"></div>
    </button>
</div>
{{a11y_wrap_focus}}
